<div>
  <h2>根组件</h2>
  <ul>
    <li>
      <a href="#" [routerLink]="['/dashboard']">仪表盘</a>
    </li>
    <li>
      <a href="#" [routerLink]="['/heros']" [queryParams]="{id:1}">英雄列表</a>
    </li>
    <li>
      <a href="#" [routerLink]="['/form']" >表单</a>
    </li>
    <li>
      <a (click)="toMessage()">信息（编程导航）</a>
    </li>
    <li>
      <a [routerLink]="['/message',2]">信息</a>
    </li>
    <li>
      <a [routerLink]="['/product']">商品组件</a>
    </li>
    <li>
      <a [routerLink]="['/anotherProduct']">另一个商品组件</a>
    </li>
    <li>
      <!--primary用于指定当现实辅助路由的时候，主路由显示什么-->
      <a [routerLink]="[{outlets:{primary: 'heros', aux:'help'}}]">辅助路由开</a>
    </li>
    <li>
      <a [routerLink]="[{outlets:{aux:null}}]">辅助路由关</a>
    </li>
    <li>
      <a [routerLink]="['/pipe']">管道</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
  <router-outlet name="aux"></router-outlet>
</div>
